@font-face{
    font-family: 'MorrisRomanBlack';
    src: url('../fonts/morrisromanblack-webfont.woff') format('woff'),
    url('../fonts/morrisromanblack-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'EB Garamond';
    src: url('../fonts/EBGaramond12-Regular.woff') format('woff'),
    url('../fonts/EBGaramond12-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'EB Garamond 12 Italic';
    src: url('../fonts/EBGaramond12-Italic.woff') format('woff'),
    url('../fonts/EBGaramond12-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

html{
    background: url(../img/bg.png);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

body{
    background: #f4eed9 url(../img/body-bg.png) repeat-y;
    width: 504px;
    padding: 0 122px 0 52px;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: "kern";
    font-feature-settings: "kern";
    font-kerning: normal;
    font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures contextual;
    font-family: "EB Garamond", Georgia, serif;
    color:#1d1916;
    -moz-font-feature-settings: "liga","hlig","dlig","cv11","cv90","calt","ccmp","pnum";
    font-feature-settings: "liga","hlig","dlig","cv11","cv90","calt","ccmp","pnum";
    font-size: 2.2rem;
    line-height: 1.5;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    word-wrap:break-word;
}

header{
    background: url(../img/body-head-bg.png) no-repeat;
    width: 518px;
    align-self: flex-start;
    margin-left: -7px;
}

header>hgroup{
    width: 79px;
    height: 111px;
    position: relative;
    top: 0px;
    left: 530px;
}
header>nav{
    width: 518px;
    height: 32px;
    margin-top: -50px;
    background: #ac241f;
}
header>nav>ul{
    margin: 0;
    padding: 0;
}
header>nav>ul>li{
    display: inline;
    font-size: 2.1rem;
    text-align: center;
}
header>nav>ul a,header>nav>ul a:visited{
                    display: block;
                    float: left;
                    color: #ffffff;
                    border-top: solid 0.3rem #000000;
                    width: calc(518px / 5);
                }
header>nav>ul a:hover{
    border-top: solid 0.3rem #ac241f;
    color: #ffffff;
}
article{
    min-height: 100vh;
    padding-bottom: 2.4rem;
}
footer{
    background: url(../img/foot-bg.png);
    width: 504px;
    height: 96px;
    align-self: flex-end;
}
footer>p{
    text-align: center;
    font-size: 1.8rem;
    position: relative;
    top: -27px;
}
section>h2{
    border-bottom: 0.1rem solid #1d1916;
}
section>h3{
    display: flex;
    justify-content: left;
    align-items: left;
    color:#1d1916;
    padding-left: 2.4rem;
}
section>ul{
    display: flex;
    justify-content: right;
    align-items: right;
    list-style: none;
    list-style-image: none;
    padding-left: 14rem;
    margin-top: -5rem;
}

::selection{
    background: #ac241f;
    color: #fefefe;
}
a,a:hover,a:active{
              text-decoration: none;
          }
a,a:visited{
      color: #8c0204;
  }
a:hover{
    color: #d34325;
}

h1,h2,h3{
    font-family: "MorrisRomanBlack", Georgia, serif;
}
h1{
    text-transform: uppercase;
    font-size: 3.6rem;
    text-align: center;
}
h2,h3,h4,h5,h6{
    color: #d34325;
}
h2{
    font-size: 2.4rem;
}
h2:after{
    position: relative;
    top: 0.6rem;
    content: "\00A0" url(../img/flower.png) url(../img/flower.png);
}
h3{
    font-size: 2.1rem;
}

article p{
    text-align: justify;
}
em{
    font-family: "EB Garamond 12 Italic", Georgia, serif;
    -moz-font-feature-settings: "liga","hlig","dlig","cv11","cv90","calt","ccmp","pnum","clig","swsh","cv04";
    font-feature-settings: "liga","hlig","dlig","cv11","cv90","calt","ccmp","pnum","clig","swsh","cv04";
}
article>p+p{
    text-indent: 4.8rem;
}
article>p:first-child{
    text-indent: 0;
}

ul,ol{
    padding-left: 3.6rem;
}
article>ul{
    list-style-image: url(../img/list.png);
}

hr{
    height: 48px;
    width: 100%;
    background: url(../img/hr.png) no-repeat center top;
    margin-bottom: 2.4rem;
    border:none;
}

img{
    max-width: 100%;
}

.versal{
    text-indent: -9999px;
    float: left;
    width: 13.0rem;
    height: 13.0rem;
    margin-top: 1.6rem;
    padding-right: 1.6rem;
}
.a9{background:url(../img/a.jpg) 0 0 no-repeat;}
.b9{background:url(../img/b.jpg) 0 0 no-repeat;}
.c9{background:url(../img/c.jpg) 0 0 no-repeat;}
.ć9{background:url(../img/ć.jpg) 0 0 no-repeat;}
.č9{background:url(../img/č.jpg) 0 0 no-repeat;}
.d9{background:url(../img/d.jpg) 0 0 no-repeat;}
.đ9{background:url(../img/đ.jpg) 0 0 no-repeat;}
.e9{background:url(../img/e.jpg) 0 0 no-repeat;}
.f9{background:url(../img/f.jpg) 0 0 no-repeat;}
.g9{background:url(../img/g.jpg) 0 0 no-repeat;}
.h9{background:url(../img/h.jpg) 0 0 no-repeat;}
.i9{background:url(../img/i.jpg) 0 0 no-repeat;}
.j9{background:url(../img/j.jpg) 0 0 no-repeat;}
.k9{background:url(../img/k.jpg) 0 0 no-repeat;}
.l9{background:url(../img/l.jpg) 0 0 no-repeat;}
.m9{background:url(../img/m.jpg) 0 0 no-repeat;}
.n9{background:url(../img/n.jpg) 0 0 no-repeat;}
.o9{background:url(../img/o.jpg) 0 0 no-repeat;}
.p9{background:url(../img/p.jpg) 0 0 no-repeat;}
.q9{background:url(../img/q.jpg) 0 0 no-repeat;}
.r9{background:url(../img/r.jpg) 0 0 no-repeat;}
.s9{background:url(../img/s.jpg) 0 0 no-repeat;}
.š9{background:url(../img/š.jpg) 0 0 no-repeat;}
.t9{background:url(../img/t.jpg) 0 0 no-repeat;}
.u9{background:url(../img/u.jpg) 0 0 no-repeat;}
.v9{background:url(../img/v.jpg) 0 0 no-repeat;}
.w9{background:url(../img/w.jpg) 0 0 no-repeat;}
.x9{background:url(../img/x.jpg) 0 0 no-repeat;}
.y9{background:url(../img/y.jpg) 0 0 no-repeat;}
.z9{background:url(../img/z.jpg) 0 0 no-repeat;}
.ž9{background:url(../img/ž.jpg) 0 0 no-repeat;}
