@font-face{
    font-family:'MorrisRomanBlack';
    src:url('/fonts/morrisromanblack-webfont.eot');
    src:url('/fonts/morrisromanblack-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/morrisromanblack-webfont.woff') format('woff'),
        url('/fonts/morrisromanblack-webfont.ttf') format('truetype'),
        url('/fonts/morrisromanblack-webfont.svg#MorrisRomanBlack') format('svg');
        font-weight: normal;
        font-style: normal;
}

body{font-size:16px;line-height:24px;font-family:"EB Garamond","DejaVu Serif",Georgia,serif;color:#1d1916;-moz-font-feature-settings:"liga=1,dlig=1,hlig=1,zero=1,onum=1,tnum=1";font-feature-settings:"liga=1,dlig=1,hlig=1,zero=1,onum=1,tnum=1";font-variant-ligatures:common-ligatures additional-ligatures historical-ligatures;font-variant-numeric:slashed-zero oldstyle-nums tabular-nums;}

::selection{background:#ac241f;color:#fefefe;text-shadow:none;}
a,a:hover,a:active{text-decoration:none;outline:0;}
a,a:visited{color:#8c0204;}
a:hover{color:#d34325;}

h1,h2{font-family:"MorrisRomanBlack","DejaVu Serif",Georgia,serif;}
h1{text-transform:uppercase;font-size:36px;line-height:48px;margin-bottom:24px;}
h2,h3,h4,h5,h6{color:#d34325;}
h2{font-size:24px;line-height:24px;margin-bottom:24px;}
h2:after{position:relative;top:6px;content:"\00A0" url(/img/flower.png) url(/img/flower.png);}
h3{font-size:21px;line-height:24px;margin-bottom:24px;}
h4,h5,h6{font-size:18px;line-height:24px;margin-bottom:24px;}

article,article p, article ol, article ul, article li,article blockquote{font-size:22px;font-style:normal;font-weight:300;line-height:30px;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;}
article p{text-align:justify;}
article>p+p{text-indent:48px;margin-top:-12px;}
article>p+p>img{padding-top:24px;}
article>p:first-child{text-indent:0;}

blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:"";content:none;}

ul,ol{padding-left:36px;}
article>ul{list-style-image:url(/img/list.png);}
ol{list-style:decimal;margin-bottom:24px;}

sub,sup{font-size:75%;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
hr{height:48px;width:100%;background:url(/img/hr.png) no-repeat center top;margin-bottom:24px;border:none;}

img{vertical-align:middle;}
article img{display:block;margin:0 auto 24px;max-width:100%;}

html{background:#f4eed9 url(/img/bg.png);height:100%;}
body{background:#f4eed9 url(/img/body-bg.png) repeat-y;width:504px;margin:0 auto;margin-top:-24px;padding:0 122px 120px 52px;position:relative;min-height:100%;height:auto;}

body>header{background:url(/img/body-head-bg.png) no-repeat;width:518px;position:absolute;left:45px;}
body>header>hgroup{width:79px;height:111px;position:relative;top:0px;left:530px;display:block;border:0;}
body>header>nav{width:518px;height:32px;border-top:solid 3px #000000;margin:-50px 0 11px;background:#ac241f;}
body>header>nav>ul{font-size:20px;line-height:32px;margin-left:16px;}
body>header>nav>ul>li{display:inline;}
body>header>nav>ul a,body>header>nav>ul a:visited{display:block;float:left;color:#ffffff;border-top:solid 3px #000000;margin-top:-3px;padding:0 22px;line-height:35px;}
body>header>nav>ul a:hover{border-top:solid 3px #ac241f;color:#fefefe;}

article{margin-bottom:24px;padding-bottom:24px;word-wrap:break-word;}

h1.title{text-align:center;padding-top:120px;}

body>footer{background:#f4eed9 url(/img/foot-bg.png) no-repeat center bottom;clear:both;position:absolute;width:504px;bottom:0;}
body>footer>p{text-align:center;font-size:16px;line-height:24px;margin-bottom:96px;}

section>h2{line-height:47px;border-bottom:1px solid #1d1916;}
section>h3{margin:0;float:left;width:180px;text-align:right;color:#1d1916;line-height:24px;}
section>h3:after{content:"";content:none;}
section>h3{font-size:21px;}
section>ul{margin:0;padding:0;list-style:none;list-style-image:none;margin-left:198px;}
section>ul>li{padding-bottom:24px;}

.versal{display:block;border:0;text-indent:-9999px;overflow:hidden;background-color:transparent;text-align:left;background-repeat:no-repeat;direction:ltr;}
.versal{float:left;width:130px;height:130px;margin-top:8px;padding-right:8px;background-repeat:no-repeat;}
.versal br{display:none;}
.a9{background:url(/img/a.jpg) 0 0 no-repeat;}
.b9{background:url(/img/b.jpg) 0 0 no-repeat;}
.c9{background:url(/img/c.jpg) 0 0 no-repeat;}
.ć9{background:url(/img/ć.jpg) 0 0 no-repeat;}
.č9{background:url(/img/č.jpg) 0 0 no-repeat;}
.d9{background:url(/img/d.jpg) 0 0 no-repeat;}
.đ9{background:url(/img/đ.jpg) 0 0 no-repeat;}
.e9{background:url(/img/e.jpg) 0 0 no-repeat;}
.f9{background:url(/img/f.jpg) 0 0 no-repeat;}
.g9{background:url(/img/g.jpg) 0 0 no-repeat;}
.h9{background:url(/img/h.jpg) 0 0 no-repeat;}
.i9{background:url(/img/i.jpg) 0 0 no-repeat;}
.j9{background:url(/img/j.jpg) 0 0 no-repeat;}
.k9{background:url(/img/k.jpg) 0 0 no-repeat;}
.l9{background:url(/img/l.jpg) 0 0 no-repeat;}
.m9{background:url(/img/m.jpg) 0 0 no-repeat;}
.n9{background:url(/img/n.jpg) 0 0 no-repeat;}
.o9{background:url(/img/o.jpg) 0 0 no-repeat;}
.p9{background:url(/img/p.jpg) 0 0 no-repeat;}
.q9{background:url(/img/q.jpg) 0 0 no-repeat;}
.r9{background:url(/img/r.jpg) 0 0 no-repeat;}
.s9{background:url(/img/s.jpg) 0 0 no-repeat;}
.š9{background:url(/img/š.jpg) 0 0 no-repeat;}
.t9{background:url(/img/t.jpg) 0 0 no-repeat;}
.u9{background:url(/img/u.jpg) 0 0 no-repeat;}
.v9{background:url(/img/v.jpg) 0 0 no-repeat;}
.w9{background:url(/img/w.jpg) 0 0 no-repeat;}
.x9{background:url(/img/x.jpg) 0 0 no-repeat;}
.y9{background:url(/img/y.jpg) 0 0 no-repeat;}
.z9{background:url(/img/z.jpg) 0 0 no-repeat;}
.ž9{background:url(/img/ž.jpg) 0 0 no-repeat;}
