@font-face{
    font-family:'MorrisRomanBlack';
    src:url('/fonts/morrisromanblack-webfont.eot');
    src:url('/fonts/morrisromanblack-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/morrisromanblack-webfont.woff') format('woff'),
        url('/fonts/morrisromanblack-webfont.ttf') format('truetype'),
        url('/fonts/morrisromanblack-webfont.svg#MorrisRomanBlack') format('svg');
        font-weight: normal;
        font-style: normal;
}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}

object,embed,form,fieldset,legend,label,img,select,option,figure{max-width:100%;}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,hr,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font:inherit;background-color:transparent;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;text-align:left;text-decoration:none;vertical-align:baseline;text-shadow:none;}

a,abbr,b,bdi,bdo,br,cite,code,del,dfn,em,i,img,ins,kbd,mark,q,samp,small,span,strong,sub,sup,time,var{line-height:0;}

html{font-size:16px;overflow-y:scroll;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-text-size-adjust:100%;-webkit-font-smoothing:subpixel-antialiased;text-rendering:optimizeLegibility;}

body{font-size:16px;line-height:24px;font-family:"EB Garamond","DejaVu Serif",Georgia,serif;color:#1d1916;-moz-font-feature-settings:"liga=1,dlig=1,hlig=1,zero=1,onum=1,tnum=1";font-feature-settings:"liga=1,dlig=1,hlig=1,zero=1,onum=1,tnum=1";font-variant-ligatures:common-ligatures additional-ligatures historical-ligatures;font-variant-numeric:slashed-zero oldstyle-nums tabular-nums;}

::-moz-selection{background:#ac241f;color:#fefefe;text-shadow:none;}
::selection{background:#ac241f;color:#fefefe;text-shadow:none;}
a,a:hover,a:active{text-decoration:none;cursor:pointer;}
a,a:visited{color:#8c0204;}
a:hover{color:#d34325;}
a:focus{outline:thin dotted;}
p a:hover{color:#8c0204;text-decoration:underline;}
a:hover,a:active{outline:0;}

h1,h2{font-family:"MorrisRomanBlack","DejaVu Serif",Georgia,serif;}
h1{text-transform:uppercase;}
h2,h3,h4,h5,h6{color:#d34325;}
h1{font-size:36px;line-height:48px;margin-bottom:24px;}
h2{font-size:24px;line-height:24px;margin-bottom:24px;}
h2:after{position:relative;top:6px;content:"\00A0" url(/img/flower.png) url(/img/flower.png);}
ul h2:after,ol h2:after,dl h2:after{content:"";content:none;}
h3{font-size:21px;line-height:24px;margin-bottom:24px;}

h4,h5,h6,p,pre,ul,dl,form{font-size:18px;line-height:24px;margin-bottom:24px;}

article,article p, article ol, article ul, article li,article blockquote{font-size:22px;font-style:normal;font-weight:300;line-height:30px;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;text-rendering: optimizeLegibility;font-feature-settings:"kern";-webkit-font-feature-settings:"kern";-moz-font-feature-settings:"kern";-moz-font-feature-settings:"kern=1";font-kerning:normal;}
article p{text-align:justify;}
article>p+p,article>p+aside+p{text-indent:48px;margin-top:-12px;}
article>p+p>img,article>p+aside+p>img{padding-top:24px;}
article>p:first-child{text-indent:0;}

pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}

blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:"";content:none;}
blockquote{margin:36px;}
blockquote>p{margin-bottom:24px;}
blockquote>ul,blockquote>ol,blockquote>dl{line-height:24px;margin-bottom:0;}
blockquote>pre{display:table;font-family:inherit;margin:0 auto 24px;}
blockquote>h2,blockquote>h2+h3{text-align:center;}
blockquote>h2+h3{color:#1d1916;}
blockquote[title]:after{display:block;font-size:14px;line-height:24px;margin-bottom:24px;content:"\2014""\00A0"attr(title);text-align:right;font-style:italic;color:#707065;}
blockquote>p>cite{display:block;font-size:14px;line-height:24px;margin-bottom:24px;text-align:right;font-style:italic;color:#707065;}
blockquote>p>cite:before{content:"\2014""\00A0";}

ul,ol{padding-left:36px;}
article>ul{list-style-image:url(/img/list.png);}
ol{list-style:decimal;margin-bottom:24px;}
ul ul,ul p,ul pre,dl p,dl pre,ul h1,ul h2,ul h3,ul h4,ul h5,ul h6,dl h1,dl h2,dl h3,dl h4,dl h5,dl h6{font-size:18px;line-height:24px;margin-bottom:0;}
ul ol{margin-bottom:0;}
ol ol,ol ul,ol p,ol pre,ol h1,ol h2,ol h3,ol h4,ol h5,ol h6{margin-bottom:0;}
nav ul,nav li{margin:0;padding:0;list-style:none;list-style-image:none;}
dt:after{content:":";}
dd{margin-left:36px;}

em,i,,cite{font-style:italic;}
b,strong{font-weight:bold;}
sub,sup{font-size:75%;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
hr{height:48px;width:100%;background:url(/img/hr.png) no-repeat center top;margin-bottom:24px;}

aside{width:216px;float:right;margin:6px 0 0 18px;padding:12px 0 6px 0;border-top:6px solid #1d1916;border-bottom:6px solid #1d1916;}

aside>p{margin-bottom:0;font-style:italic;text-align:left;}

table{width:100%;border-collapse:collapse;border-spacing:0;border-top:24px solid #cac4ab;border-bottom:24px solid #cac4ab;margin-bottom:24px;}
th{font-size:16px;line-height:24px;border-right:1px solid #cac4ab;border-left:1px solid #cac4ab;color:#8c0204;padding:0 8px 24px 8px;}
td{font-size:14px;line-height:24px;border-right:1px solid #cac4ab;border-left:1px solid #cac4ab;padding:0 8px 24px 8px;vertical-align:top;}

img{vertical-align:middle;}
article>img,article>a>img,article>figure>img,article>figure>a>img,section>img,section>figure>img,section>a>img,section>figure>a>img{display:block;margin:0 auto 24px;}
p img,li>img,li>p>img,dd>img,dd>p>img{display:block;margin:0 auto 24px;}
figure{padding:21px;border:3px double #cac4ab;margin-bottom:24px;}
figcaption>p:last-child{margin:0;}
svg:not(:root){overflow:hidden;}

address>p{margin-bottom:24px;}

label{cursor:pointer;}
button,input,select,textarea{font-family:Garamond,"Hoefler Text","Times New Roman",Times,serif;color:#1d1916;font-size:100%;margin:0;vertical-align:baseline;}
button,input{line-height:normal;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;resize:vertical;}
input:valid,textarea:valid{}
input:invalid,textarea:invalid{background-color:#cac4ab;}

html{background:#f4eed9 url(/img/bg.png);height:100%;}
body{background:#f4eed9 url(/img/body-bg.png) repeat-y;width:504px;margin:0 auto;padding:0 122px 120px 52px;position:relative;min-height:100%;height:auto;}

body>header{background:url(/img/body-head-bg.png) no-repeat;width:518px;position:absolute;left:45px;}
body>header>a{background:url(/img/logo.png) no-repeat;z-index:10;width:79px;height:111px;position:fixed;top:0px;left:50%;margin-left:241px;display:block;border:0;text-indent:-9999px;overflow:hidden;background-color:transparent;text-align:left;background-repeat:no-repeat;}
body>header>a:hover{background:url(/img/logo-inverse.png) no-repeat;}
body>header>nav{width:518px;height:32px;border-top:solid 3px #000000;margin:61px 0 11px;background:#ac241f;background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,#ac241f),color-stop(1,#8c0204));background-image:-moz-linear-gradient(center bottom,#ac241f 0%,#8c0204 100%);}
body>header>nav>ul{font-size:18px;line-height:24px;margin-left:16px;}
body>header>nav>ul>li{display:inline;}
body>header>nav>ul a,body>header>nav>ul a:visited{display:block;float:left;color:#fefefe;border-top:solid 3px #000000;margin-top:-3px;padding:0 22px;line-height:35px;}
body>header>nav>ul a.current{border-top:solid 3px #fefefe;}
body>header>nav>ul a.current:hover{border-top:solid 3px #d34325;color:#fefefe;}
body>header>nav>ul a:hover{border-top:solid 3px #ac241f;color:#fefefe;}

article{margin-bottom:24px;padding-bottom:24px;word-wrap:break-word;}

h1.title{text-align:center;padding-top:120px;}

article>footer>nav>ul{font-size:16px;line-height:24px;margin-bottom:24px;}
article>footer>nav>ul:first-child{float:left;}
article>footer>nav>ul:last-child{float:right;}
article>footer>nav>ul>li{display:inline;}
article>footer>nav>ul>li:not(:last-child):after{content:"\00B7";padding:0 4px 0 6px;}

body>footer{background:#f4eed9 url(/img/foot-bg.png) no-repeat center bottom;clear:both;position:absolute;width:504px;bottom:0;}
body>footer>p{text-align:center;font-size:14px;line-height:24px;margin-bottom:96px;}
body>footer>p>small>time{font-size:16px;}

section>h2{line-height:47px;border-bottom:1px solid #1d1916;}
section>h3{margin:0;float:left;width:180px;text-align:right;color:#1d1916;line-height:24px;}
section>h3:after{content:"";content:none;}
section>h3{font-size:21px;}
section>ul{margin:0;padding:0;list-style:none;list-style-image:none;margin-left:198px;}
section>ul>li{padding-bottom:24px;}

.versal{display:block;border:0;text-indent:-9999px;overflow:hidden;background-color:transparent;text-align:left;background-repeat:no-repeat;direction:ltr;}
.versal{float:left;width:130px;height:130px;margin-top:8px;padding-right:8px;background-repeat:no-repeat;}
.versal br{display:none;}
.a9{background:url(/img/a.jpg) 0 0 no-repeat;}
.b9{background:url(/img/b.jpg) 0 0 no-repeat;}
.c9{background:url(/img/c.jpg) 0 0 no-repeat;}
.ć9{background:url(/img/ć.jpg) 0 0 no-repeat;}
.č9{background:url(/img/č.jpg) 0 0 no-repeat;}
.d9{background:url(/img/d.jpg) 0 0 no-repeat;}
.đ9{background:url(/img/đ.jpg) 0 0 no-repeat;}
.e9{background:url(/img/e.jpg) 0 0 no-repeat;}
.f9{background:url(/img/f.jpg) 0 0 no-repeat;}
.g9{background:url(/img/g.jpg) 0 0 no-repeat;}
.h9{background:url(/img/h.jpg) 0 0 no-repeat;}
.i9{background:url(/img/i.jpg) 0 0 no-repeat;}
.j9{background:url(/img/j.jpg) 0 0 no-repeat;}
.k9{background:url(/img/k.jpg) 0 0 no-repeat;}
.l9{background:url(/img/l.jpg) 0 0 no-repeat;}
.m9{background:url(/img/m.jpg) 0 0 no-repeat;}
.n9{background:url(/img/n.jpg) 0 0 no-repeat;}
.o9{background:url(/img/o.jpg) 0 0 no-repeat;}
.p9{background:url(/img/p.jpg) 0 0 no-repeat;}
.q9{background:url(/img/q.jpg) 0 0 no-repeat;}
.r9{background:url(/img/r.jpg) 0 0 no-repeat;}
.s9{background:url(/img/s.jpg) 0 0 no-repeat;}
.š9{background:url(/img/š.jpg) 0 0 no-repeat;}
.t9{background:url(/img/t.jpg) 0 0 no-repeat;}
.u9{background:url(/img/u.jpg) 0 0 no-repeat;}
.v9{background:url(/img/v.jpg) 0 0 no-repeat;}
.w9{background:url(/img/w.jpg) 0 0 no-repeat;}
.x9{background:url(/img/x.jpg) 0 0 no-repeat;}
.y9{background:url(/img/y.jpg) 0 0 no-repeat;}
.z9{background:url(/img/z.jpg) 0 0 no-repeat;}
.ž9{background:url(/img/ž.jpg) 0 0 no-repeat;}

@media print{
html,body,article,header,hgroup,footer{background:white;color:black;width:100%;margin:0;padding:0;float:none;}
body>header,body>footer,article>header>nav,article>footer>nav,#markdown-toc,a[href^="#fnref"]{display:none;}
a,a:visited{text-decoration:none;}
p a[href]:after,li a[href]:after{content:"\00A0""("attr(href)")";font-size:90%;}
abbr[title]:after,dfn[title]:after{content:"\00A0""("attr(title)")";text-transform:none;}
a[href^="javascript:"]:after,a[href^="#"]:after{content:"";}
p a[href^="/"]:after,li a[href^="/"]:after{content:"\00A0""(http://majapasovic.org" attr(href)")";font-size:90%;}
sup a[href^="/"]:after,sup a[href]:after{content:"";content:none;}
h1.title{font-weight:normal;text-transform:none;}
thead{display:table-header-group;}
tr,img,pre,blockquote{page-break-inside:avoid;}
img{max-width:100%;}
h1{font-size:36pt;}
h2{font-size:24pt;}
section h1,section h2{font-size:12pt;}
h1,h2,h3,h4,h5,h6{page-break-inside:avoid;page-break-after:avoid;font-weight:bold;}
p,h1,h2,h3,h4,h5,h6{orphans:4;widows:4;}
hr:after{height:48px;width:188px;display:block;content:url(/img/hr.png);margin:0 auto;padding:0;}
blockquote[title]:after{font-size:12pt;}
.versal{display:inline;float:none;width:1em;height:1em;margin:0;padding:0;text-indent:0;border:0;}
}
